/*move arrow phrases to certain spot on page*/

#applygiftcard { top: 4.5em; left: 81em; font-size:14px }
#applypromo { top: 39em; left: 74em; font-size:14px }
#authorizepayment { top: 13em; left: 98.4em; font-size:14px }
#captureorderinfo { top: 13.3em; left: 78.2em; font-size:14px }
#checkinventoryavailability { top: 39.8em; left: 25.6em; font-size:14px }
#createorder { top: 20.7em; left: 54em; font-size:14px }
#feeds { top: 57.1em; left: 58em; font-size:14px }
#feedsitem { top: 62em; left: 13em; font-size:14px }
#feedstax { top: 47em; left: 18em; font-size:14px }
#finalinventory { top: 60em; left: 73em; font-size:14px }
#getitempricing { top: 39.8em; left: 12.6em; font-size:14px }
#getpricinginfo { top: 38em; left: 62.3em; font-size:14px }
#incrementalshipping { top: 55em; left: 78em; font-size:14px }
#publishorder { top: 40.3em; left: 89.5em; font-size:14px }
#releasepromocode { top: 46.2em; left: 78em; font-size:14px }
#releaseinventory { top: 38.5em; left: 43em; font-size:14px }
#reserveECDD { top: 35em; left: 37em; font-size:14px }
#storemdmdata { top: 50.7em; left: 12.5em; font-size:14px }
#storeorderdata { top: 11.1em; left: 63.3em; font-size:14px }
#validateaddress { top: 20.7em; left: 40em; font-size:14px }

.purple_paymentservice, .purple_promotionservice,
.gray_paymentservice, .gray_sterling, 
.blue_orderloggerservice, .blue_ecomdborder, .blue_orderidservice, .blue_shippingservice, .blue_inventoryservice, .blue_sterling, .blue_ecomdb,
.black_pricingservice, .black_rulepublisher, .black_addressverificationservice, 
.green_ecomdb,.green_inventoryservice,
.red_promotionservice, .red_inventoryservice {
	text-align:center;
  	z-index:2;
	cursor:pointer;
}

/*color of the arrow and the target where it's pointing*/
/*payment to payment service*/
.purple_paymentservice {
    background-color: whitesmoke;
    border:0px solid #346789;   
    width:5em; 
    height:5em;        
    position:absolute;    
    color:#6E4081;
    padding:0.5em;
    width:163px; 
    height:23px;
    line-height: 14px;     
    vertical-align: middle;
    z-index: -1;
}

.purple_paymentservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.purple_paymentservice a {
    font-family:helvetica;
}

/*payment to promotion service*/
.purple_promotionservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: purple;
    padding:0.5em;
    width:100px; 
    height:11px;
    line-height: 14px;     
    vertical-align: middle;
    z-index: -1;    
	}
	
.purple_promotionservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.purple_promotionservice a {
    font-family:helvetica;
}


/*payment to order logger service*/
.blue_orderloggerservice {
    background-color: whitesmoke;
    border:0px solid #346789;   
    width:5em; 
    height:5em;        
    position:absolute;    
    color: #4A78B0;
    padding:0.5em;
    width:130px; 
    height:23px;
    line-height: 14px;     
    vertical-align: middle;
    z-index: -1;
}

.blue_orderloggerservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.blue_orderloggerservice a {
    font-family:helvetica;
}

.blue_ecomdborder{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4A78B0;
    padding:0.5em;
    width:130px; 
    height:11px;
    line-height: 14px;     
    vertical-align: middle;    
	}
	
.blue_ecomdborder:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.blue_ecomdborer a {
    font-family:helvetica;
}

/*payment to order id service*/
.blue_orderidservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4A78B0;
    padding:0.5em;
    width:99px; 
    height:8px;
    line-height: 14px;     
    vertical-align: middle;    
	}
	
.blue_orderidservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.blue_orderidservice a {
    font-family:helvetica;
}

/*payment to shipping service*/
.blue_shippingservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4A78B0;
    padding:0.5em;
    width:135px; 
    height:35px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.blue_shippingservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.blue_shippingservice a {
    font-family:helvetica;
}

/*payment to inventory service*/
.blue_inventoryservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4A78B0;
    padding:0.5em;
    width:335px; 
    height:8px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
	}
	
.blue_inventoryservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.blue_inventoryservice a {
    font-family:helvetica;
}

/*inventory service to sterling*/
.blue_sterling{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4A78B0;
    padding:0.5em;
    width:270px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
	}
	
.blue_sterling:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.blue_sterling a {
    font-family:helvetica;
}

/*mdm service to ecom db*/
.blue_ecomdb{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4A78B0;
    padding:0.5em;
    width:90px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.blue_ecomdb:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.blue_ecomdb a {
    font-family:helvetica;
}


/*order confirm to sterling*/
.gray_sterling{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: gray;
    padding:0.5em;
    width:120px; 
    height:23px;
    line-height: 14px;     
    vertical-align: middle;
    z-index: -1;    
	}
	
.gray_sterling:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.gray_sterling a {
    font-family:helvetica;
}

/*order confirm to payment service*/
.gray_paymentservice {
    background-color: whitesmoke;
    border:0px solid #346789;   
    width:5em; 
    height:5em;        
    position:absolute;    
    color:gray;
    padding:0.5em;
    width:80px; 
    height:23px;
    line-height: 14px;     
    vertical-align: middle;
    z-index: -1;
}

.gray_paymentservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.gray_paymentservice a {
    font-family:helvetica;
}



/*rule publisher to pricing service*/
.black_pricingservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: black;
    padding:0.5em;
    width:40px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.black_pricingservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.black_pricingservice a {
    font-family:helvetica;
}

/*ecom db mdm data to rule publisher*/
.black_rulepublisher{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: black;
    padding:0.5em;
    width:155px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.black_rulepublisher:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.black_rulepublisher a {
    font-family:helvetica;
}

/*mdm to mdm service*/
.black_mdmservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: black;
    padding:0.5em;
    width:115px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.black_mdmservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.black_mdmservice a {
    font-family:helvetica;
}

/*shipping address to address verification servie*/
.black_addressverificationservice{
	background-color: whitesmoke;        
    position:absolute;    
    color: black;
    padding:0.5em;
    width:130px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.black_addressverificationservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.black_addressverificationservice a {
    font-family:helvetica;
}


/*cancel/abandon order to promotion service*/
.red_promotionservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #AB3535;
    padding:0.5em;
    width:100px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.red_promotionservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.red_promotionservice a {
    font-family:helvetica;
}

/*cancel/abandon order to inventory service*/
.red_inventoryservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #AB3535;
    padding:0.5em;
    width:70px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.red_inventoryservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.red_inventoryservice a {
    font-family:helvetica;
}

/*sterling to pricing service*/
.gold_pricingservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #B4A217;
    padding:0.5em;
    width:115px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.gold_pricingservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.gold_pricingservice a {
    font-family:helvetica;
}

/*loadpip to ecom db MDM Data*/
.green_ecomdb{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4CAC56;
    padding:0.5em;
    width:130px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.green_ecomdb:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.green_ecomdb a {
    font-family:helvetica;
}

/*shopping cart to inventory service*/
.green_inventoryservice{
	background-color: whitesmoke;
    border:0px solid #346789;         
    position:absolute;    
    color: #4CAC56;
    padding:0.5em;
    width:140px; 
    height:10px;
    line-height: 14px;     
    vertical-align: middle;
    font-size:5;
    z-index: -1;
	}
	
.green_inventoryservice:hover {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.green_inventoryservice a {
    font-family:helvetica;
}