.demonew {
    position: relative;
    width:100%;
    background-color:white;
    overflow:auto;
    margin-top: 53px;
    margin-bottom:25px;
    height: 1000px;
}

h4 {
	text-align: center;
}

.legend {
	content: url("legend.png");
	position: absolute;
	top:2em;
	left:7em;
	width: 400px;
	height: 300px;
	border: 1px;
}

.omsd2-flowchart .window { 
	border:1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
	text-align:center;
	z-index:20; position:absolute;
	background-color:#eeeeef;
	color:black;
	font-family:helvetica;padding:0.5em;
	font-size:0.9em;
}

.omsd2-flowchart .window:hover {
	box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
	filter:alpha(opacity=60);
}

.omsd2-flowchart .active {
	border:1px dotted green;
}
.omsd2-flowchart .hover {
	border:1px dotted red;
}

/*put window in certain space on html page*/
#ecomdborder { top:5em;left:82em; font-size:12px}

#paymentservice { top:5em;left:110em; font-size:12px}
#addressverificationservice { top:15em;left:55em; font-size:12px}
#orderidservice { top:15em;left:69em; font-size:12px}
#orderloggerservice { top:15em;left:83em; font-size:12px}

#loadpip { top:32em;left:10.5em; font-size:12px}
#browsebackorderedpip { top:32em;left:21em; font-size:12px}
#shoppingcart { top:32em;left:31em; font-size:12px}

#shippingaddress { top:32em;left:43em; font-size:12px}
#delgiftoptions { top:32em; left:56em; font-size:12px}
#billingaddress { top:32em;left:68em; font-size:12px }
#payment { top:32em; left:80.5em; font-size:12px}
#orderconfirm { top:32em; left:93em; font-size:12px}
#cancelabandonorder{ top:32em; left:108em; font-size:12px}

#ecomdbmdmdata { top:50.5em;left:9.4em; font-size:12px }
#taxservice { top:50em;left:56em; font-size:12px }
#shippingservice { top:50em; left:68em; font-size:12px}
#promotionservice { top:50em; left:80.5em; font-size:12px}
#sterling {top:58em; left:108em; font-size:12px}

#mdmservice {top:62.5em; left:10.5em; font-size:12px}
#rulepublisher {top:62.5em; left:56em; font-size:12px}
#mdm {top:68.5em; left:24em; font-size:12px}

#shopping {top: 24.5em; left: 8em; font-size:14px }
#checkout { top: 24.5em; left: 30.5em; font-size:14px }
#cancelAbandon { top: 24.5em; left: 88.5em; font-size:14px }
#inventoryservice {top: 42em; left: 35em; font-size:14px }
#pricing { top: 42em; left: 47.2em; font-size:14px }

.omsd2-flowchart ._jsPlumb_connector { z-index:4; }
.omsd2-flowchart ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }

.omsd2-flowchart .aLabel {
 	background-color:white; 
	padding:0.4em; 
	font:12px sans-serif; 
	color:#444;
	z-index:21;
	border:1px dotted gray;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor: pointer;
}
.omsd2-flowchart .aLabel._jsPlumb_hover {
	background-color:#5C96BC;
	color:white;	
	border:1px solid white;
}

