/*#navigation{
	position:absolute;
	}*/
/*
.legend{
	margin: 0px;
	height: auto;
	position: absolute;
}

.notlegend {
	margin-left: 30%;
	margin-top: -50px;
	height: auto;
}
*/
span{
	position: relative;
    background:none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: absolute;
    word-wrap: break-word;
    text-align: center;
    display: none;
    
}

span:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.ecomdborder:hover span{
    display:block;
}

.paymentservice:hover span{
    display:block;
}

.addressverificationservice:hover span{
    position:absolute;
    display:block;
}

.orderidservice:hover span{
    display:block;
}

.orderloggerservice:hover span {
    display:block;
}

.loadpip:hover span{
    display:inline;
}

.browsebackorderedpip:hover span{
    display:block;
}

.shoppingcart:hover span {
    display:block;
}

.deliverygiftopt:hover span{
    display:block;
}

.billingaddress:hover span{
    display:block;
}

.payment:hover span{
    display:block;
}

.orderconfirm:hover span{
    display:block;
}

.cancelabandonordercopy:hover span{
    display:block;
}

.ecomdbmdmdata:hover span{
    display:block;
}

.taxservicecopy:hover span{
    display:block;
}

.shippingservice:hover span{
    display:block;
}

.promotionservice:hover span{
    display:block;
}

.sterling:hover span{
    display:block;
}

.mdmservice:hover span{
    display:inline;
}

.rulepublisher:hover span{
    display:block;
}

.mdm:hover span{
    display:block;
}
.shippingaddress:hover span {
    display:block;
}

.shopping:hover span{
    display:block;
}

.inventoryservice:hover span{
    display:block;
}



/*p{
	
 	margin-top: 30%;
 	margin-bottom: 0;
 	margin-left: 5px;
 	margin-right: 0px;
    float:left;
    position:relative;
}

p:hover span{
    display:inline;
    position: absolute;
    padding: 5px;
}*/


.activity{
    vertical-align: bottom;
    position:relative;
    bottom:685px;
    left:11px;
	/*margin-top: 480px;*/
    z-index: -1;
}


.activity2{
    vertical-align: bottom;
    position:relative;
    /*top: 80%;*/
    bottom: 590px;
    /*left:300px;*/
    z-index: -1;

}

.morewidth{
    width: 200px;
}
.blankrow{
    height:100px;
}

.service{
    vertical-align: top;
}
.blankspace{
    width:210px;
    /*width: 14.5%;*/
}

.blankspace2{
    width:280px;
}

/*table td  {
    border: 1px solid black;
}*/