.shopping:after{
    content:url(images/shopping.png);
}

.legend{
	content:url(images/legend.png);
	width:400px;
	height:400px;
}

.checkout{
	content:url(images/checkout.png);
	width: 930px;
	height: 170px;
}

.cancelabandonorder{
	content:url(images/cancelabandonorder.png);
}

.ecomdborder:after{
	content:url(images/ecomdborder.png);
}
.paymentservice:after{
	content:url(images/paymentservice.png);
}

.addressverificationservice:after{
	content:url(images/addressverificationservice.png);
}

.orderidservice:after{
	content:url(images/orderidservice.png);
}

.orderloggerservice:after{
	content:url(images/orderloggerservice.png);
}

.loadpip:after{
	content:url(images/loadpip.png);
}

.browsebackorderedpip:after{
	content:url(images/browsebackorderedpip.png);
}

.shoppingcart:after{
	content:url(images/shoppingcart.png);
}

.shippingaddress:after{
	content:url(images/shippingaddress.png);
}

.deliverygiftopt:after {
	content:url(images/deliverygiftopt.png);
}

.billingaddress:after{
	content:url(images/billingaddress.png);
}

.payment:after{
	content:url(images/payment.png);
}

.orderconfirm:after{
	content:url(images/orderconfirm.png);
}

.cancelabandonordercopy:after{
	content:url(images/cancelabandonordercopy.png);

}

.ecomdbmdmdata:after{
	content:url(images/ecomdbmdmdata.png);
	width: 150px;
}

.inventoryservice:after{
	content:url(images/inventoryservice.png);	
	height: 170px;
	width: 170px;
}

.pricingservice:after{
	content:url(images/pricingservice.png);
	width: 550px;
	height:170px;
}

.taxservicecopy:after{
	content:url(images/taxservicecopy.png);
}

.shippingservice:after{
	content:url(images/shippingservice.png);
}

.promotionservice:after{
	content:url(images/promotionservice.png);
}

.sterling:after{
	content:url(images/sterling.png);
}

.mdmservice:after{
	content:url(images/mdmservice.png);
}


.rulepublisher:after{
	content:url(images/rulepublisher.png);
	width:70px;
}

.mdm:after{
	content:url(images/mdm.png);
}