h2{
	font-family:Verdana;
}

#legend{
	height:200px;
	width:200px;
	margin-right:55px;
}

#delivery{
	position:absolute;
	left:-110px;
}

#shopping{
	position:absolute;
}

#BBPIP{
	position:absolute;
	left:-180px;
}

.service{
	height:50px;
	width:85px;
	margin-bottom:80px;
	margin-left:25px;
}

span{
	float:none;
	background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    /*height: 30px;*/
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    /*top: -170px;*/
    left:50px;
    bottom:142px;
    display:none;
    padding:2px 10px 3px 10px;
    word-wrap: break-word;
}

span:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    }

.hove{
    position:relative;
    cursor:pointer;
}

.hove:hover span{
	cursor:pointer;
    display:inline;
}

.legend {
	margin:0px;
	height: auto;
	position: absolute;
}

.notlegend {
	margin-left: 250px;
	margin-top: 0px;
	height:auto;
}