.minwidth { min-width:100px; width: auto !important; width: 100px; }

span{
	position: relative;
    background:none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: absolute;
    word-wrap: break-word;
    text-align: center;
    display: none;    
}

span:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.ecomdborder:hover span{
    display:block;
}

.paymentservice:hover span{
    display:block;
}

.addressverificationservice:hover span{
    position:absolute;
    display:block;
}

.orderidservice:hover span{
    display:block;
}

.orderloggerservice:hover span {
    display:block;
}

.loadpip:hover span{
    display:inline;
}

.browsebackorderedpip:hover span{
    display:block;
}

.shoppingcart:hover span {
    display:block;
}

.deliverygiftopt:hover span{
    display:block;
}

.billingaddress:hover span{
    display:block;
}

.payment:hover span{
    display:block;
}

.orderconfirm:hover span{
    display:block;
}

.cancelabandonordercopy:hover span{
    display:block;
}

.ecomdbmdmdata:hover span{
    display:block;
}

.taxservicecopy:hover span{
    display:block;
}

.shippingservice:hover span{
    display:block;
}

.promotionservice:hover span{
    display:block;
}

.sterling:hover span{
    display:block;
}

.mdmservice:hover span{
    display:block;
}

.rulepublisher:hover span{
    display:block;
}

.mdm:hover span{
    display:block;
}
.shippingaddress:hover span {
    display:block;
}

.shopping:hover span{
    display:block;
}

.inventoryservice:hover span{
    display:block;
}

.blankcell{
    width: 205px;
}
.blankrow{
    height:100px;
}
.wideblankcell{
    width:280px;
}

.action{
    position:relative;
    left: 37px;
}

.activity{
    vertical-align: bottom;
    position:relative;
    bottom:695px;
    left:15px;
    z-index: -2;
    float:center;
}

.activity:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.service{
    vertical-align: top;
}

.service2{
    vertical-align: bottom;
    position:relative;
    /*top: 80%;*/
    bottom: 590px;
    right:16px;
    /*left:300px;*/
    z-index: -1;
}
/*
 table td {
    border:solid;
    border-color:black;
}*/

.arrow{
    width: 0px;
    height:0px;
    border-style:solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;
}

.line{
    left:90px;
    padding-top:70px;
    padding-bottom:50px;
    border-left: 2px solid green;
    margin-left: 56px;
}

/*.container{
    position:relative;
}*/

.greenarrow{
    /*display:none;*/
    position:relative;
    bottom:900px;
    left:-678px;
    z-index: -1
}

.redcancelorder{
    position:relative;
    bottom:1078px;
    left:190px;
    z-index: -1;
}

.redcancelorder2{
    position:relative;
    bottom:1500px;
    left:490px;
    z-index: -1;
}

.finalinventoryreservation{
    position:relative;
    bottom:1194px;
    left:280px;
    z-index: -1;
}

.reservechangeinventory{
    position:relative;
    bottom:1636px;
    right:35px;
    z-index: -1;
}

.redreleasepromocode{
    position:relative;
    bottom: 1720px;
    left:320px;
    z-index: -1;
}

.graysterling{
    position:relative;
    bottom:2000px;
    left:528px;
    z-index: -1;
}

.greeninventoryservice{
    position:relative;
    bottom:2250px;
    left:-505px;
    z-index: -1;
}

.graypaymentservice{
    position:relative;
    bottom:2830px;
    left:535px;
    z-index: -1;
}

.purplepaymentservice{
    position:relative;
    bottom: 3200px;
    left:430px;
    z-index: -1;
}

.purplepromotionservice{
    position:relative;
    bottom: 3128px;
    left:240px;
    z-index: -1;
}

.createorder{
    position:relative;
    bottom:3530px;
    left:235px;
    z-index:-1;
}

.blackmdm{
    position:relative;
    bottom:3090px;
    right:610px;
    z-index: -1;
}

.blackpricingservice{
    position:relative;
    bottom:3325px;
    left:35px;
    z-index: -3;
}

.blackrulepublisher{
    position:relative;
    bottom:3500px;
    right:320px;
    z-index: -1
}

.bluestoredata{
    position:relative;
    bottom:3630px;
    right:662px;
    z-index: -1;
}

.storeorderdata{
    position:relative;
    bottom:4375px;
    left:240px;
    z-index: -1;
}

.goldarrow{
    position:relative;
    bottom:3810px;
    left:400px;
    z-index: -1;
}

/*.blackvalidateaddress{
    position:relative;
    bottom:4450px;
    z-index: -1;

}*/

.smallblackarrow1{
    position:relative;
    bottom:4260px;
    left:-180px;
    z-index: -1;

}

.smallblackarrow2{
    position:relative;
    bottom:4295px;
    left:-20px;
    z-index: -1;

}

.smallblackarrow3{
    position:relative;
    bottom:4332px;
    left:140px;
    z-index: -1;

}

.smallblackarrow4{
    position:relative;
    bottom:4367px;
    left:340px;
    z-index: -1;
}

.blackaddressverificationservice{
    position:relative;
    bottom:4555px;
    left: -5px;
}